<div class="row justify-content-center  mt-5">
  <div class="col-md-4">
    <p class="h1 text-center">
      URL Shortener
    </p>
    <div class="text-center mt-5 mb-5">
      <i class="fas fa-link fa-5x"></i>
    </div>

  </div>

</div>


<div class="h2">Success! Please use this link:</div>
<a href='http://{{ urlText }}'>https://your-project-name.herokuapp.ccom/6y7UP</a>
<div class="row mt-5">
  <div class="col-6 mx-auto">
    <div class="text-center">
      <button class="btn btn-primary btn-block"> Copy </button>
    </div>
  </div>
</div>