<div class="row justify-content-center  mt-5">
  <div class="col-md-4">
    <p class="h1 text-center">
      URL Shortener
    </p>
    <div class="text-center mt-5 mb-5">
      <i class="fas fa-link fa-5x"></i>
    </div>

  </div>

</div>


<div class="h2">Success! Please use this link:</div>
<a href='http://{{ urlText }}' id="urlLink">https://safe-thicket-14959.herokuapp.com/{{randomNum}}</a>
<div class="row mt-5">
  <div class="col-6 mx-auto">
    <div class="text-center">
      <button class="btn btn-primary btn-block" id='copy'> Copy </button>
    </div>
    <div class="text-center">
      <a href="/" class="btn btn-danger btn-block mt-3">Back</a>
    </div>

  </div>
</div>

<script src="/javascripts/result.js"></script>